body {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  background: #f0ece8;
  border: 5px solid rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: 10px 100px auto 100px 10px;
  grid-template-rows: 10% 30% 30% 30%;
}

.Operand {
  background: #48A9A6;
  display: flex;
  border: 5px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 90%;
  width: 90%;
  grid-column: 2;
  /* grid-row: 2; */
}

.Input {
  background: #489d9adb;
  color: white;
  border: 5px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
}

.Operator {
  background: #4281A4;
  color: white;
  display: flex;
  border: 5px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 24px;
}

.Operator:hover {
  background-color: #5F9DBF;
}

.Operators {
  display: flex;
  /* align-content: space-around; */
  flex-wrap: wrap;
  flex-direction: raw;
  justify-self: center;
  height: 80%;
  width: 100%;
  grid-column: 3;
  grid-row: 2;
}

.LastOperation {
  background: #D4B483;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 90%;
  width: 90%;
  font-size: 24px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  grid-column: 3;
  grid-row: 3;
}

.Result {
  background: #C1666B;
  color: white;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 90%;
  width: 90%;
  font-size: 24px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  grid-column: 3;
  grid-row: 4;
}

.Text {
  color: rgb(172, 172, 172);
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

::placeholder {
  color: rgb(199, 198, 198);
  font-size: 16px;
  opacity: 1; 
}



